.workspace {
    position: absolute !important;
    top: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    text-align: center !important;
    z-index: 9999 !important;
    width: 100%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.1);
    font-family: 'Orbitron', monospace;
    font-size: small;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}