.workspace {
    position: absolute !important;
    top: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    text-align: center !important;
    z-index: 9999 !important;
    width: 100%;
    margin: 0 auto;
    background-color: transparent !important;
    font-family: 'Orbitron', monospace;
    font-size: small;
    box-shadow: none !important;
    border: none !important;
}