<div class="workspace w-full">
    <div class="container-text">
        <div id="appear1" style="display:none;">
            <a href="/">Connecting to Theia Systems...&nbsp;&nbsp;<span>&nbsp;</span></a>
        </div>
        <div id="appear2" style="display:none;">
            <a href="/">Confirming human identity...&nbsp;&nbsp;<span>&nbsp;</span></a>
        </div>
        <div id="appear3" style="display:none;">
            <a href="/">Connected!&nbsp;&nbsp;<span>&nbsp;</span></a>
        </div>
        <!-- <div id="appear4" style="display:none;">
            <a href="/">Creating space-time scenario...&nbsp;&nbsp;<span>&nbsp;</span></a>
        </div>
        <div id="appear5" style="display:none;">
            <a href="/">Loading fields from field theory...&nbsp;&nbsp;<span>&nbsp;</span></a>
        </div>
        <div id="appear6" style="display:none;">
            <a href="/">Importing physic laws...&nbsp;&nbsp;<span>&nbsp;</span></a>
        </div>
        <div id="appear7" style="display:none;">
            <a href="/">Applying quantum probability...&nbsp;&nbsp;<span>&nbsp;</span></a>
        </div>
        <div id="appear8" style="display:none;">
            <a href="/">Exporting universe...&nbsp;&nbsp;<span>&nbsp;</span></a>
        </div>
        <div id="appear9" style="display:none;">
            <a href="/">Complete!&nbsp;&nbsp;<span>&nbsp;</span></a>
        </div> -->
    </div>
    <div id="faux-terminal">
        <div class="layer"></div>
        <div class="overlay"></div>
    </div>
</div>