.workspace {
    display: block;
    height: 200px;
    position: absolute;
    top: 500px;
    margin: auto;
    background: transparent;
    font-family: 'Orbitron', monospace;
    font-size: small;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.text {
    margin: 0 auto;
}

a {
    color: #fff;
    opacity: 1 !important;
    position: relative;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

a span {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    background: #000;
    border-left: .5em solid;
    box-sizing: border-box;
    -webkit-animation: typing 3s steps(13, end), blink-caret 1s step-end infinite;
    animation: typing 3s steps(13, end), blink-caret 1s step-end infinite;
}

#faux-terminal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    min-height: 51px;
    z-index: 4000;
    pointer-events: none;
}

#faux-terminal:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    min-height: 51px;
    z-index: 4010;
    background: -webkit-linear-gradient(#444 50%, #000 50%);
    background: linear-gradient(#444 50%, #000 50%);
    background-size: 100% 4px;
    background-repeat: repeat-y;
    opacity: .14;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
    -webkit-animation: pulse 5s linear infinite;
    animation: pulse 5s linear infinite;
}

#faux-terminal:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    min-height: 51px;
    z-index: 4011;
    background-color: #00C853;
    background: -webkit-radial-gradient(center, black 0%, rgba(0, 0, 0, 0.62) 45%, rgba(0, 9, 4, 0.6) 47%, #00C853 100%);
    background: radial-gradient(ellipse at center, #000000 0%, rgba(0, 0, 0, 0.62) 45%, rgba(0, 9, 4, 0.6) 47%, #f7730f 100%);
    box-shadow: inset 0px 0px 4px 4px rgba(100, 100, 100, 0.5);
    opacity: .1;
}

#faux-terminal .layer {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    min-height: 51px;
    z-index: 4001;
    box-shadow: inset 0px 0px 1px 1px rgba(64, 64, 64, 0.1);
    background: -webkit-radial-gradient(center, #00c351 0%, rgba(64, 64, 64, 0) 50%);
    background: radial-gradient(ellipse at center, #6432FF 0%, rgba(64, 64, 64, 0) 30%);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: perspective(20px) rotateX(0.5deg) skewX(2deg) scale(1.03);
    transform: perspective(20px) rotateX(0.5deg) skewX(2deg) scale(1.03);
    -webkit-animation: glitch 1s linear infinite;
    animation: glitch 1s linear infinite;
    opacity: .8;
}

#faux-terminal .layer:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 51px;
    min-height: 51px;
    background: -web-kit-radial-gradient(center, rgba(0, 0, 0, 0.5) 0%, rgba(64, 64, 64, 0) 100%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, rgba(64, 64, 64, 0) 100%);
    opacity: .1;
}

#faux-terminal .overlay {
    position: relative;
    top: 290px;
    left: -1200px;
    right: 0;
    width: 100%;
    min-width: 2000px;
    height: 190px;
    min-height: 51px;
    z-index: 4100;
    background-color: transparent;
}

#faux-terminal .overlay:before {
    content: '';
    position: absolute;
    top: 0px;
    width: 100%;
    min-width: 100%;
    height: 5px;
    background: #fff;
    background: -webkit-linear-gradient(to bottom, rgba(255, 0, 0, 0) 0%, snow 50%, rgba(255, 255, 255, 0.98) 51%, rgba(255, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0) 0%, snow 50%, rgba(255, 255, 255, 0.98) 51%, rgba(255, 0, 0, 0) 100%);
    opacity: .1;
    -webkit-animation: vline 1.25s linear infinite;
    animation: vline 1.25s linear infinite;
}

#faux-terminal .overlay:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-width: 100%;
    height: 51px;
    min-height: 51px;
}

@-webkit-keyframes vline {
    0% {
        top: 0px;
    }

    100% {
        top: 100%;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1.001);
        opacity: .14;
    }

    8% {
        -webkit-transform: scale(1);
        opacity: .13;
    }

    15% {
        -webkit-transform: scale(1.004);
        opacity: .14;
    }

    30% {
        -webkit-transform: scale(1.002);
        opacity: .11;
    }

    100% {
        -webkit-transform: scale(1);
        opacity: .14;
    }
}

@-webkit-keyframes glitch {
    0% {
        -webkit-transform: scale(1, 1.002);
    }

    50% {
        -webkit-transform: scale(1, 1.0001);
    }

    100% {
        -webkit-transform: scale(1.001, 1);
    }
}

@-webkit-keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #fff;
    }
}

@-webkit-keyframes typing {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

@keyframes vline {
    0% {
        top: 0px;
    }

    100% {
        top: 100%;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1.001);
        opacity: .14;
    }

    8% {
        transform: scale(1);
        opacity: .13;
    }

    15% {
        transform: scale(1.004);
        opacity: .14;
    }

    30% {
        transform: scale(1.002);
        opacity: .11;
    }

    100% {
        transform: scale(1);
        opacity: .14;
    }
}

@keyframes glitch {
    0% {
        transform: scale(1, 1.002);
    }

    50% {
        transform: scale(1, 1.0001);
    }

    100% {
        transform: scale(1.001, 1);
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #fff;
    }
}

@keyframes typing {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}