<div class="loader-group w-full h-screen overflow-hidden" [@fadeAnimation]="loader">
    <audio id='myAudio' src='./../../../assets/sounds/Welcome.mp3' type='audio/mp3' autoplay></audio>
    <section class="text-center flex flex-wrap justify-center">
        <div class="loader-head w-full text-center">
            <h1 class="w-full">
                <div class="loader w-72 w-max-96 m-auto flex flex-wrap justify-center">
                    <div [ngClass]="{'hidden': lang != 'en'}">
                        <div class="text-lg my-4">
                            <span class="m">W</span>
                            <span class="m">E</span>
                            <span class="m">L</span>
                            <span class="m">C</span>
                            <span class="m">O</span>
                            <span class="m">M</span>
                            <span class="m">E</span>
                            <span class="m">&nbsp;</span>
                            <span class="m">T</span>
                            <span class="m">O</span>
                        </div>
                    </div>
                    <div  [ngClass]="{'hidden': lang != 'es'}" >
                        <div class="text-lg my-4">
                            <span class="m">B</span>
                            <span class="m">I</span>
                            <span class="m">E</span>
                            <span class="m">N</span>
                            <span class="m">V</span>
                            <span class="m">E</span>
                            <span class="m">N</span>
                            <span class="m">I</span>
                            <span class="m">D</span>
                            <span class="m">O</span>
                            <span class="m">&nbsp;</span>
                            <span class="m">A</span>
                        </div>
                    </div>
                    <div class="text-5xl my-4">
                        <span class="m">T</span>
                        <span class="m">H</span>
                        <span class="m">E</span>
                        <span class="m">I</span>
                        <span class="m">A</span>
                    </div>
                </div>
            </h1>
            <div class="mt-4">
                <div class="vertical-centered-box mt-32 sm:-mt-56 z-10">
                    <div id="circle" class="loader-line-mask">
                        <div class="content-box">
                            <div class="loader-line"></div>
                            <div class="loader-circle"></div>
                        </div>
                    </div>
                    <button id="connect-btn" (click)="connect()"
                        class="animate-bounce connect-btn mt-6 hidden border bg-yellow-500/90 hover:bg-yellow-500 hover:shadow-sm shadow-yellow-400 border-gray-300 text-sm p-2 px-4 uppercase rounded-xl">
                        <h1 class="text-[8px] pl-2 hover:text-white hover:font-bold hover:translate-x-2">
                            Connect
                        </h1>
                    </button>
                </div>
            </div>
            <div class="mt-96 xl:mt-80">
                <app-text-loader class="w-full" />
            </div>
        </div>
    </section>
</div>
<app-background-canvas id="myBackground" class="overflow-hidden" />
<!-- stats - count particles -->
<!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->