<div class="loader-group">
    <section class="nav">
        <div class="loader-head">
            <h1><span class="loader">
                    <span class="m">B</span>
                    <span class="m">I</span>
                    <span class="m">E</span>
                    <span class="m">N</span>
                    <span class="m">V</span>
                    <span class="m">E</span>
                    <span class="m">N</span>
                    <span class="m">I</span>
                    <span class="m">D</span>
                    <span class="m">O</span>
                    <span class="m">S</span>
                    <span class="m">&nbsp;</span>
                    <span class="m">A</span>
                    <span class="m">&nbsp;</span>
                    <span class="m">T</span>
                    <span class="m">H</span>
                    <span class="m">E</span>
                    <span class="m">I</span>
                    <span class="m">A</span>
                </span></h1>
            <app-text-loader class="w-full" />
        </div>
        <div class="vertical-centered-box">
            <div class="content-box">
                <div class="loader-circle"></div>
                <div class="loader-line-mask">
                    <div class="loader-line"></div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-background-canvas>
    <!-- stats - count particles -->
    <!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->