<div id="particles-js">
</div>
<div class="loader-group">
    <section class="nav">
        <h1><span class="loader">
                <span class="m">B</span>
                <span class="m">i</span>
                <span class="m">e</span>
                <span class="m">n</span>
                <span class="m">v</span>
                <span class="m">e</span>
                <span class="m">n</span>
                <span class="m">i</span>
                <span class="m">d</span>
                <span class="m">o</span>
                <span class="m">s</span>
                <span class="m">&nbsp;</span>
                <span class="m">a</span>
                <span class="m">&nbsp;</span>
                <span class="m">T</span>
                <span class="m">h</span>
                <span class="m">e</span>
                <span class="m">i</span>
                <span class="m">a</span>
            </span></h1>

        <div class="vertical-centered-box">
            <div class="content-box">
                <div class="loader-circle"></div>
                <div class="loader-line-mask">
                    <div class="loader-line"></div>
                </div>
            </div>
        </div>
        <app-text-loader class="w-full" />
    </section>
</div> <!-- stats - count particles -->
<!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->