<!-- 3D Model Background -->
<app-background-canvas class="overflow-hidden" />
  <!-- Welcome Title -->
  <h1 class="welcome-title pt-20 text-center flex flex-wrap
    justify-center">
    <div class="fx w-72 w-max-96 m-auto flex flex-wrap
      justify-center">
      <div class="text-5xl my-4">
        <span class="silver">T</span>
        <span class="silver">H</span>
        <span class="silver">E</span>
        <span>I</span>
        <span>A</span>
      </div>
    </div>
  </h1>
  <!-- Connect Btn & Loader -->
  <div class="vertical-centered-box ">
    <div id="circle" class="loader-line-mask">
      <div class="content-box">
        <div class="loader-line"></div>
        <div class="loader-circle"></div>
      </div>
    </div>
    <button id="connect-btn" (click)="connect()"
      class="animate-bounce connect-btn mt-6 hidden border
      bg-yellow-500/90 hover:bg-yellow-500 hover:shadow-sm
      shadow-yellow-400 border-gray-300 text-sm p-2 px-4
      uppercase rounded-xl">
      <h1 class="text-[8px] pl-2 hover:text-white
        hover:font-bold hover:translate-x-2">
        Connect
      </h1>
    </button>
  </div>
  <!-- Console logs -->
