<!-- 3D Model Background -->
<app-background-canvas class="overflow-hidden" />
<!-- Welcome Title -->
<div class="mt-20">
  <h1 class="welcome-title w-full text-center flex flex-wrap
      justify-center">
    <div class="fx text-center flex flex-wrap
        justify-center">
      <div class="text-center">
        <span class="silver">T</span>
        <span class="silver">H</span>
        <span class="silver">E</span>
        <span>I</span>
        <span>A</span>
      </div>
    </div>
  </h1>
</div>
<!-- Loader -->
<div class="front">
  <div id="loader-ai" class="loader-ai">
    <img class="rounded-full opacity-60" width="180" src="../../assets/gif/loading.gif" />
  </div>

</div>

<div id="faux-terminal">
  <div class="layer"></div>
  <div class="overlay"></div>
</div>
<app-text-loader />
<!-- Console logs -->