<!-- 3D Model Background -->
<app-background-canvas class="overflow-hidden" />
<!-- Welcome Title -->
<div class="mt-20">
  <h1 class="welcome-title w-full text-center flex flex-wrap
      justify-center">
    <div class="fx text-center flex flex-wrap
        justify-center">
      <div class="text-center">
        <span class="silver">T</span>
        <span class="silver">H</span>
        <span class="silver">E</span>
        <span>I</span>
        <span>A</span>
      </div>
    </div>
  </h1>
</div>
<!-- Loader -->
<div class="front">
  <div class="loader-ai">
    <img class="rounded-full opacity-60" width="180" src="../../assets/gif/loading.gif" />
  </div>
</div>
<!-- Connect Btn -->
<button id="connect-btn" (click)="connect()" class="animate-bounce connect-btn mt-6 hidden border
    bg-yellow-500/90 hover:bg-yellow-500 hover:shadow-sm
    shadow-yellow-400 border-gray-300 text-sm p-2 px-4
    uppercase rounded-xl">
  <h1 class="text-[8px] pl-2 hover:text-white
      hover:font-bold hover:translate-x-2">
    Connect
  </h1>
</button>
<div id="faux-terminal">
  <div class="layer"></div>
  <div class="overlay"></div>
</div>
<app-text-loader />
<!-- Console logs -->