<div *ngIf="!connected" class="absolute w-screen h-screen
  max-h-screen">
  <!-- Connect Btn -->
  <button id="connect-btn" (click)="connect()" class="align-middle
    connect-btn mt-6 hidden text-sm p-2 px-4
    uppercase rounded-xl">
    <h1 class="text-[8px] font-bold hover:text-white
      hover:font-bold">
      Connect
    </h1>
  </button>
  <app-welcome-screen #welcomeScreen />
  </div>
  <app-realstate-back />
    <!--<app-sleeper-screen id="sleeper" class="bg-transparent hidden" />-->
    <!-- <app-main-display *ngIf="connected" /> -->