<!-- <div class="relative z-50">
  <button class="fixed left-1/2 top-1/2 bg-red-500 ">Connect</button>
</div> -->
<div *ngIf="!connected" class="w-screen h-screen">
  <!-- Connect Btn -->
  <button id="connect-btn" (click)="connect()" class="align-middle
    animate-bounce connect-btn mt-6 hidden border
    bg-yellow-500/90 hover:bg-yellow-500 hover:shadow-sm
    shadow-yellow-400 border-gray-300 text-sm p-2 px-4
    uppercase rounded-xl">
    <h1 class="text-[8px] pl-2 hover:text-white
      hover:font-bold hover:translate-x-2">
      Connect
    </h1>
  </button>
  <app-welcome-screen />
  </div>

  <!--<app-sleeper-screen id="sleeper" class="bg-transparent hidden" />-->
  <app-main-display *ngIf="connected" />