.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.logo {
  font-weight: normal;
  font-family: 'Cubics', cursive;
  font-size: 2.5rem;
}

.logo2 {
  font-weight: normal;
  font-family: 'Cubics', cursive;
  font-size: 2rem;
}

.important {
  color: var(--primary-color);
  opacity: 100%;
}

.lessimportant {
  color: var(--secondary-color);
  opacity: 100%;
}

.title {
  color: var(--primary-color);
}

.border-color {
  border: 1px solid #ff22ff;
}

ul li a p:hover {
  background: linear-gradient(to top,
      var(--primary-color),
      transparent);
  border-bottom: 1px solid var(--primary-color);
}

.content {
  color: white;
}

.content2 {
  border-color: var(--primary-color);
  position: relative;
  z-index: 1;
}

.subcontent {
  background-color: #ff22ff;
  color: white;
  border: 1px white solid;
}

.subcontent2 {
  background-color: #ffff74;
  color: black;
  border: 1px white solid;
}

.headbutton {
  border: 1px solid white;
  color: white;
  opacity: 92%;
}