<div class="header flex justify-center content w-full h-14 px-1 pt-10 pb-10">
    <div class="flex justify-center items-center ml-3 mt-2" href="index.html">
        <img src="../../../assets/img/logo3.png" alt="logo">
    </div>
    <!-- <div></div>
    <div class="h-full flex flex-end w-auto lg:pt-0 lg:pl-10" id="nav-content">
        <ul class="flex h-full flex-end mr-3 justify-center items-center">
            <li class="ml-6 align-middle hidden lg:block">
                <p>Welcome, {{ username }}</p>
            </li>
            <li class="ml-6 align-middle">
                <img src="../../../assets/img/profile.png" class="w-[50px] h-[50px] " alt="profile">
            </li>
        </ul>
    </div> -->
</div>