<div class="header flex justify-between content w-full h-14 px-1 pt-10 pb-10">
    <div class="flex justify-center items-center" href="index.html">
        <p class="logo text-2xl min-w-max ml-7 my-0 font-bold">THE<span class="title">IA</span></p>
    </div>
    <div></div>
    <div class="h-full flex flex-end w-auto lg:pt-0 lg:pl-10" id="nav-content">
        <ul class="flex h-full flex-end mr-3 justify-center items-center">
            <li class="ml-6 align-middle hidden lg:block">
                <p>Bienvenido, Sr. X</p>
            </li>
            <li class="ml-6 align-middle">
                <img src="./../../.././assets/img/profile.png" class="w-[50px] h-[50px] " alt="profile">
            </li>
        </ul>
    </div>
</div>