body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: transparent;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#webgl {
    width: 300px;
    height: 200px;
    position: absolute;
    z-index: -1;
}

#bg-box {
    width: 302px;
    height: 202px;
    position: absolute;
    z-index: -1;
}

.svg-box {
    width: 300px;
    height: 200px;
    position: absolute;
    z-index: 1;
}

#robot {
    cursor: pointer;
}