/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #f7730f !important;
    --secondary-color: #e95302 !important;
    --dark-color: #121212;
    --dark-color2: #1F2937;
}

html {
    overflow-x: hidden;
    box-sizing: content-box;
    font-family: 'Poppins', sans-serif;
}


/* ---- particles.js container ---- */
.loader-group {
    position: relative;
    top: 0;
    left: 0;
}

.vertical-centered-box {
    position: absolute;
    top: 450px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.vertical-centered-box:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.content-box {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-size: 0;
}


.loader-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .1);
    margin-left: -60px;
    margin-top: -60px;
    animation: fade 1.2s infinite ease-in-out;
}

.loader-line-mask {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    overflow: hidden;
    transform-origin: 60px 60px;
    mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    animation: rotate 1.2s infinite linear;
}

.loader-line {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .5);
}

#particles-js {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    top: -200px;
    background-color: transparent;
    text-align: center;
    padding: 0;
}

.nav h1 {
    font-family: "Cubic", sans-serif;
    font-size: 2rem;
    margin: 0;
    padding-bottom: 0.5rem;
    letter-spacing: 0.5rem;
    color: #fff;
    transition: all 0.3s ease;
    z-index: 3;
}

h1:hover {
    transform: translate3d(0, -10px, 22px);
    color: #ff0266;
}

h1.span {
    font-size: 2.3rem;
    letter-spacing: 0.7em;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #E39B00;
    z-index: 4;
}

@media (min-width: 800px) {

    .nav h1 {
        font-size: 5vw;
    }
}

@media only screen and (min-width: 360px) {

    .nav h1 {
        font-size: 2.5vw;
    }
}

.loader span {
    color: #faebd7;
    text-shadow: 0 0 0 #faebd7;
    animation: loading 1s ease-in-out infinite alternate;
}

@keyframes loading {
    to {
        text-shadow: 20px 0 70px #f7730f;
        color: #f7730f;
    }
}

.loader span:nth-child(2) {
    animation-delay: 0.1s;
}

.loader span:nth-child(3) {
    animation-delay: 0.2s;
}

.loader span:nth-child(4) {
    animation-delay: 0.3s;
}

.loader span:nth-child(5) {
    animation-delay: 0.4s;
}

.loader span:nth-child(6) {
    animation-delay: 0.5s;
}

.loader span:nth-child(7) {
    animation-delay: 0.6s;
}

.loader span:nth-child(8) {
    animation-delay: 0.7s;
}

.loader span:nth-child(9) {
    animation-delay: 0.8s;
}

.loader span:nth-child(10) {
    animation-delay: 0.9s;
}

.loader span:nth-child(11) {
    animation-delay: 1s;
}

.loader span:nth-child(12) {
    animation-delay: 1.1s;
}

.loader span:nth-child(13) {
    animation-delay: 1.2s;
}

.loader span:nth-child(14) {
    animation-delay: 1.3s;
}

.loader span:nth-child(15) {
    animation-delay: 1.4s;
}

.loader span:nth-child(16) {
    animation-delay: 1.5s;
}

.loader span:nth-child(17) {
    animation-delay: 1.6s;
}

.loader span:nth-child(18) {
    animation-delay: 1.7s;
}

.loader span:nth-child(19) {
    animation-delay: 1.8s;
}

.loader span:nth-child(20) {
    animation-delay: 1.9s;
}

.loader span:nth-child(21) {
    animation-delay: 2s;
}

.loader span:nth-child(22) {
    animation-delay: 2.1s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.25;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*table {
    width: 100%;
}

table.fc-col-header {
    width: 100% !important;
}

div.fc-view-harness.fc-view-harness-active {
    height: 300px !important;
} */

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background-color: transparent !important;
}

::-webkit-scrollbar-track {
    background-color: rgba(179, 179, 179, 0.692);
    border-radius: 1rem;
    margin: 0.4rem;
    margin-top: 0.4rem;
    border-left: 1px solid rgba(211, 211, 211, 0);
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: linear-gradient(30deg, #F69F8A, #335B7F);
    box-shadow: inset 0 0 6px #A66684,
}

@font-face {
    font-family: 'KGSketch';
    src: url(./assets/fonts/KGSecondChancesSketch.ttf);
}

@font-face {
    font-family: 'KGSolid';
    src: url(./assets/fonts/KGSecondChancesSolid.ttf);
}

@font-face {
    font-family: 'Greek';
    src: url(./assets/fonts/Greek.ttf);
}

@font-face {
    font-family: 'Cubics';
    src: url(./assets/fonts/cubic.ttf);
}

svg {

    min-height: 100vh;
    visibility: hidden;

}

.logo {
    font-weight: normal;
    font-family: 'Cubics', cursive;
    font-size: 2.5rem;
}

.logo2 {
    font-weight: normal;
    font-family: 'Cubics', cursive;
    font-size: 2rem;
}

.important {
    color: var(--primary-color);
    opacity: 100%;
}

.lessimportant {
    color: var(--secondary-color);
    opacity: 100%;
}

.title {
    color: var(--primary-color);
}

.border-color {
    border: 1px solid var(--primary-color);
}

.header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

ul li a p:hover {
    background: linear-gradient(to top,
            var(--primary-color),
            transparent);
    border-bottom: 1px solid var(--primary-color);
}

.content {
    color: white;
}

.content2 {
    background: rgba(31, 41, 55, 0.5);
    border-color: var(--primary-color);
    position: relative;
    z-index: 1;
}

.subcontent {
    background-color: var(--secondary-color);
    color: white;
    border: 1px white solid;
}

.subcontent2 {
    background-color: white;
    color: black;
}

.headbutton {
    border: 1px solid white;
    color: white;
    opacity: 92%;
}

button:hover {
    background: linear-gradient(var(--primary-color),
            var(--secondary-color));
    color: white;
    opacity: 92%;
}

.fc h2 {
    color: var(--primary-color);
    font-size: 1.3rem !important;
}

.fc-prev-button {
    background-color: var(--primary-color) !important;
}

.fc-next-button {
    background-color: var(--secondary-color) !important;
}

.fc-today-button {
    background-color: var(--primary-color) !important;
}

.fc-button-active {
    background-color: var(--primary-color) !important;
}

.fc-listWeek-button {
    background-color: var(--secondary-color) !important;
}

.fc-button {
    border: 1px solid white !important;
}

#myVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-aspect-ratio: 16/9) {
    .bg-video {
        height: 100vw;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media screen and (min-aspect-ratio: 16/9) {
    .bg-video {
        width: 100vh;
        left: 50%;
        transform: translateX(-50%);
    }
}

.animacion {
    animation: aparecer 1s forwards;
    opacity: 0;
}

.animacion2 {
    animation: aparecer2 2s forwards;
    opacity: 0;
}

@keyframes aparecer {
    from {
        opacity: 0;
        /* Define la opacidad inicial de la animación */
        transform: translateY(-20px);
        /* Define la posición inicial de la animación */
    }

    to {
        opacity: 1;
        /* Define la opacidad final de la animación */
        transform: translateY(0);
        /* Define la posición final de la animación */
    }
}

@keyframes aparecer2 {
    from {
        opacity: 0;
        /* Define la opacidad inicial de la animación */
        transform: translateX(-20px);
        /* Define la posición inicial de la animación */
    }

    to {
        opacity: 1;
        /* Define la opacidad final de la animación */
        transform: translateX(0);
        /* Define la posición final de la animación */
    }
}

.home {
    font-weight: 500;
}

app-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
}

#myFooter {
    background: rgba(31, 41, 55, 0.8) !important;
    border-top: 1px double white;
}

#word {
    background: transparent;
    color: #335B7F;
    position: absolute;
    z-index: -1;
}


.canvas-container {
    position: absolute;
    z-index: 999 !important;
    height: 100vh;
    width: 100vw;
    background: #000055;
}