/* Importing Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Media Queries */
@media screen and (max-aspect-ratio: 16/9) {
    .bg-video {
        height: 100vw;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media screen and (min-aspect-ratio: 16/9) {
    .bg-video {
        width: 100vh;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 700px) {
    .workspace {
        font-size: xx-small !important;
    }

    .vertical-centered-box {
        display: block;
        position: relative;
        top: 75vh !important;
    }

    .loader {
        font-size: small;
        position: absolute;
        margin-bottom: 15px !important;
    }

    .loader-head {
        top: 20% !important;
    }

    #faux-terminal .overlay {
        top: 20% !important;
    }

}

/*

@media (max-width: 1200px) and (max-height: 714px) {
    .vertical-centered-box {
        display: flex;
        position: absolute;
    }

    .loader {
        margin-bottom: -50%;
    }

    #faux-terminal .overlay {
        top: 100px !important;
    }

}*/

@media (min-width: 700px) {

    .nav h1 {
        font-size: 5vw;
    }
}

@media only screen and (min-width: 360px) {

    .nav h1 {
        font-size: 2.5vw;
    }
}

/* Keyframes */
@keyframes loading {
    to {
        text-shadow: 20px 0 70px #f7730f;
        color: #f7730f;
    }
}

@keyframes aparecer {
    from {
        opacity: 0;
        /* Define la opacidad inicial de la animación */
        transform: translateY(-20px);
        /* Define la posición inicial de la animación */
    }

    to {
        opacity: 1;
        /* Define la opacidad final de la animación */
        transform: translateY(0);
        /* Define la posición final de la animación */
    }
}

@keyframes aparecer2 {
    from {
        opacity: 0;
        /* Define la opacidad inicial de la animación */
        transform: translateX(-20px);
        /* Define la posición inicial de la animación */
    }

    to {
        opacity: 1;
        /* Define la opacidad final de la animación */
        transform: translateX(0);
        /* Define la posición final de la animación */
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.25;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes vline {
    0% {
        top: 0px;
    }

    100% {
        top: 100%;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1.001);
        opacity: .14;
    }

    8% {
        transform: scale(1);
        opacity: .13;
    }

    15% {
        transform: scale(1.004);
        opacity: .14;
    }

    30% {
        transform: scale(1.002);
        opacity: .11;
    }

    100% {
        transform: scale(1);
        opacity: .14;
    }
}

@keyframes glitch {
    0% {
        transform: scale(1, 1.002);
    }

    50% {
        transform: scale(1, 1.0001);
    }

    100% {
        transform: scale(1.001, 1);
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #fff;
    }
}

@keyframes typing {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Font Families */
@font-face {
    font-family: 'KGSketch';
    src: url(./assets/fonts/KGSecondChancesSketch.ttf);
}

@font-face {
    font-family: 'KGSolid';
    src: url(./assets/fonts/KGSecondChancesSolid.ttf);
}

@font-face {
    font-family: 'Greek';
    src: url(./assets/fonts/Greek.ttf);
}

@font-face {
    font-family: 'Cubics';
    src: url(./assets/fonts/cubic.ttf);
}

/* Variables */
:root {
    --primary-color: #f7730f !important;
    --secondary-color: #e95302 !important;
    --dark-color: #121212;
    --dark-color2: #1F2937;
}

/* Index Page */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background-color: transparent !important;
}

::-webkit-scrollbar-track {
    background-color: rgba(179, 179, 179, 0.692);
    border-radius: 1rem;
    margin: 0.4rem;
    margin-top: 0.4rem;
    border-left: 1px solid rgba(211, 211, 211, 0);
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: linear-gradient(30deg, #F69F8A, #335B7F);
    box-shadow: inset 0 0 6px #A66684,
}

html {
    overflow-x: hidden;
    box-sizing: content-box;
    font-family: 'Poppins', sans-serif;
    background-color: black !important;
}

/* LOADER */
app-loader {
    background-color: #000;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
}

.loader-head {
    position: relative;
    top: -30%;
}

.loader-group {
    position: relative;
    margin: 5% auto;
    z-index: 6000;
}

.loader {
    display: flex;
    position: relative;
    top: 0;
}

.loader-circle {
    width: 20%;
    height: 20%;
}

.vertical-centered-box {
    position: absolute;
    display: block;
    top: 70vh;
    width: 100%;
    height: auto;
    text-align: center;
}

.vertical-centered-box:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.content-box {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-size: 0;
}


.loader-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .1);
    margin-left: -60px;
    margin-top: -60px;
    animation: fade 1.2s infinite ease-in-out;
}

.loader-line-mask {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    overflow: hidden;
    transform-origin: 60px 60px;
    mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    animation: rotate 1.2s infinite linear;
}

.loader-line {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .5);
}

#particles-js {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: -1;
}

.nav {
    display: block;
    align-items: center;
    height: 200px;
    position: relative;
    margin-top: 10%;
    background-color: transparent;
    text-align: center;
    padding: 0;
}

.nav h1 {
    font-family: "Cubic", sans-serif;
    font-size: 2.5rem;
    margin: 0;
    padding-bottom: 0.5rem;
    letter-spacing: 0.5rem;
    color: #fff;
    transition: all 0.3s ease;
    z-index: 3;
}

h1:hover {
    transform: translate3d(0, -10px, 22px);
    color: #ff0266;
}

h1.span {
    font-size: 2.3rem;
    letter-spacing: 0.7em;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #E39B00;
    z-index: 4;
}

.loader span {
    color: #faebd7;
    text-shadow: 0 0 0 #faebd7;
    animation: loading 1s ease-in-out infinite alternate;
}

.loader span:nth-child(2) {
    animation-delay: 0.1s;
}

.loader span:nth-child(3) {
    animation-delay: 0.2s;
}

.loader span:nth-child(4) {
    animation-delay: 0.3s;
}

.loader span:nth-child(5) {
    animation-delay: 0.4s;
}

.loader span:nth-child(6) {
    animation-delay: 0.5s;
}

.loader span:nth-child(7) {
    animation-delay: 0.6s;
}

.loader span:nth-child(8) {
    animation-delay: 0.7s;
}

.loader span:nth-child(9) {
    animation-delay: 0.8s;
}

.loader span:nth-child(10) {
    animation-delay: 0.9s;
}

.loader span:nth-child(11) {
    animation-delay: 1s;
}

.loader span:nth-child(12) {
    animation-delay: 1.1s;
}

.loader span:nth-child(13) {
    animation-delay: 1.2s;
}

.loader span:nth-child(14) {
    animation-delay: 1.3s;
}

.loader span:nth-child(15) {
    animation-delay: 1.4s;
}

.loader span:nth-child(16) {
    animation-delay: 1.5s;
}

.loader span:nth-child(17) {
    animation-delay: 1.6s;
}

.loader span:nth-child(18) {
    animation-delay: 1.7s;
}

.loader span:nth-child(19) {
    animation-delay: 1.8s;
}

.loader span:nth-child(20) {
    animation-delay: 1.9s;
}

.loader span:nth-child(21) {
    animation-delay: 2s;
}

.loader span:nth-child(22) {
    animation-delay: 2.1s;
}

#word {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5000;
}

.canvas-container {
    position: absolute;
    top: -80px;
    left: -350px;
    z-index: 995 !important;
    background-color: transparent !important;
}

.workspace {
    display: block;
    height: 200px;
    position: relative;
    align-self: bottom;
    z-index: 6000;
    margin-top: 15px;
    margin-bottom: 60%;
    top: 12%;
    background: transparent;
    font-family: 'Orbitron', monospace;
    font-size: small;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.text {
    margin: 0 auto;
}

a {
    color: #fff;
    opacity: 1 !important;
    position: relative;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

a span {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    background: #000;
    border-left: .5em solid;
    box-sizing: border-box;
    -webkit-animation: typing 3s steps(13, end), blink-caret 1s step-end infinite;
    animation: typing 3s steps(13, end), blink-caret 1s step-end infinite;
}

#faux-terminal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    min-height: 51px;
    z-index: 4000;
    pointer-events: none;
}

#faux-terminal:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    min-height: 51px;
    z-index: 4010;
    background: -webkit-linear-gradient(#444 50%, #000 50%);
    background: linear-gradient(#444 50%, #000 50%);
    background-size: 100% 4px;
    background-repeat: repeat-y;
    opacity: .14;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
    -webkit-animation: pulse 5s linear infinite;
    animation: pulse 5s linear infinite;
}

#faux-terminal:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    min-height: 51px;
    z-index: 4011;
    background-color: #00C853;
    background: -webkit-radial-gradient(center, black 0%, rgba(0, 0, 0, 0.62) 45%, rgba(0, 9, 4, 0.6) 47%, #00C853 100%);
    background: radial-gradient(ellipse at center, #000000 0%, rgba(0, 0, 0, 0.62) 45%, rgba(0, 9, 4, 0.6) 47%, #f7730f 100%);
    box-shadow: inset 0px 0px 4px 4px rgba(100, 100, 100, 0.5);
    opacity: .1;
}

#faux-terminal .layer {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    min-height: 51px;
    z-index: 4001;
    box-shadow: inset 0px 0px 1px 1px rgba(64, 64, 64, 0.1);
    background: -webkit-radial-gradient(center, #00c351 0%, rgba(64, 64, 64, 0) 50%);
    background: radial-gradient(ellipse at bottom, #d971fa 0%, rgba(64, 64, 64, 0) 30%);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: perspective(20px) rotateX(0.5deg) skewX(2deg) scale(1.03);
    transform: perspective(20px) rotateX(0.5deg) skewX(2deg) scale(1.03);
    -webkit-animation: glitch 1s linear infinite;
    animation: glitch 1s linear infinite;
    opacity: .8;
}

#faux-terminal .layer:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 51px;
    min-height: 51px;
    background: -web-kit-radial-gradient(center, rgba(0, 0, 0, 0.5) 0%, rgba(64, 64, 64, 0) 100%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, rgba(64, 64, 64, 0) 100%);
    opacity: .1;
}

#faux-terminal .overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: auto;
    top: 20%;
    left: 20%;
    right: 20%;
    width: 20%;
    min-width: 170px;
    height: 65px;
    min-height: 51px;
    z-index: 6000;
    background-color: transparent;
}

#faux-terminal .overlay:before {
    content: '';
    position: absolute;
    top: 0px;
    width: 100%;
    min-width: 100%;
    height: 5px;
    background: #fff;
    background: -webkit-linear-gradient(to bottom, rgba(255, 0, 0, 0) 0%, snow 50%, rgba(255, 255, 255, 0.98) 51%, rgba(255, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0) 0%, snow 50%, rgba(255, 255, 255, 0.98) 51%, rgba(255, 0, 0, 0) 100%);
    opacity: .1;
    -webkit-animation: vline 1.25s linear infinite;
    animation: vline 1.25s linear infinite;
}

#faux-terminal .overlay:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-width: 100%;
    height: 51px;
    min-height: 51px;
}

/* MAIN DISPLAY */
/* Header */
#nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.logo {
    font-weight: normal;
    font-family: 'Cubics', cursive;
    font-size: 2.5rem;
}

.logo2 {
    font-weight: normal;
    font-family: 'Cubics', cursive;
    font-size: 2rem;
}

.important {
    color: var(--primary-color);
    opacity: 100%;
}

.lessimportant {
    color: var(--secondary-color);
    opacity: 100%;
}

.title {
    color: var(--primary-color);
}

.border-color {
    border: 1px solid var(--primary-color);
}

.header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

ul li a p:hover {
    background: linear-gradient(to top,
            var(--primary-color),
            transparent);
    border-bottom: 1px solid var(--primary-color);
}

.content {
    color: white;
}

.content2 {
    border-color: var(--primary-color);
    position: relative;
    z-index: 1;
}

.subcontent {
    background-color: var(--secondary-color);
    color: white;
    border: 1px white solid;
}

.subcontent2 {
    background-color: white;
    color: black;
}

.headbutton {
    border: 1px solid white;
    color: white;
    opacity: 92%;
}

button:hover {
    background: linear-gradient(var(--primary-color),
            var(--secondary-color));
    color: white;
    opacity: 92%;
}

/* Home page */
.animacion {
    animation: aparecer 1s forwards;
    opacity: 0;
}

.animacion2 {
    animation: aparecer2 2s forwards;
    opacity: 0;
}

.home {
    font-weight: 500;
}

#myVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.canvas-container canvas {
    object-fit: 16/9;
    background-color: transparent !important;
}

.chat {
    z-index: 1000;
}

/* Calendar */
/* FULL CALENDAR
table {
    width: 100%;
}

table.fc-col-header {
    width: 100% !important;
}

div.fc-view-harness.fc-view-harness-active {
    height: 300px !important;
} */

.fc h2 {
    color: var(--primary-color);
    font-size: 1.3rem !important;
}

.fc-prev-button {
    background-color: var(--primary-color) !important;
}

.fc-next-button {
    background-color: var(--secondary-color) !important;
}

.fc-today-button {
    background-color: var(--primary-color) !important;
}

.fc-button-active {
    background-color: var(--primary-color) !important;
}

.fc-listWeek-button {
    background-color: var(--secondary-color) !important;
}

.fc-button {
    border: 1px solid white !important;
}

/* FOOTER */
#myFooter {
    background: rgba(31, 41, 55, 0.8) !important;
    border-top: 1px double white;
}