/* Importing Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    text-align: center;
}

html {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background-color: transparent !important;
}

::-webkit-scrollbar-track {
    background-color: rgba(179, 179, 179, 0.692) !important;
    border-radius: 1rem;
    margin: 0.4rem;
    margin-top: 0.4rem;
    border-left: 1px solid rgba(211, 211, 211, 0) !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: linear-gradient(30deg, rgba(140, 208, 11, 0.83), #cf0ccfbe) !important;
    box-shadow: inset 0 0 6px rgb(206, 9, 212) !important;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
    canvas-container {
        position: absolute;
        left: 0 !important;
        z-index: 995 !important;
        background-color: transparent !important;
    }

    .canvas-container2 {
        position: absolute;
        left: 0 !important;
        z-index: 995 !important;
        background-color: transparent !important;
    }
}

@media screen and (max-aspect-ratio: 16/9) {
    .bg-video {
        height: 100vw;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media screen and (min-aspect-ratio: 16/9) {
    .bg-video {
        width: 100vh;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 700px) {
    .workspace {
        font-size: xx-small !important;
    }

    .vertical-centered-box {
        display: block;
        position: relative;
        top: 25vh !important;
    }

    .loader {
        font-size: small;
        position: absolute;
        margin-bottom: 15px !important;
    }

    .loader-head {
        top: 20% !important;
    }

    #faux-terminal .overlay {
        top: 80% !important;
    }


}

@media (min-width: 700px) {

    .nav h1 {
        font-size: 5vw;
    }
}

@media only screen and (min-width: 360px) {

    .nav h1 {
        font-size: 2.5vw;
    }
}

/* Keyframes */
@keyframes loading {
    to {
        text-shadow: 20px 0 70px #f7730f;
        color: #f7730f;
    }
}

@keyframes aparecer {
    from {
        opacity: 0;
        /* Define la opacidad inicial de la animación */
        transform: translateY(-20px);
        /* Define la posición inicial de la animación */
    }

    to {
        opacity: 1;
        /* Define la opacidad final de la animación */
        transform: translateY(0);
        /* Define la posición final de la animación */
    }
}

@keyframes aparecer2 {
    from {
        opacity: 0;
        /* Define la opacidad inicial de la animación */
        transform: translateX(-20px);
        /* Define la posición inicial de la animación */
    }

    to {
        opacity: 1;
        /* Define la opacidad final de la animación */
        transform: translateX(0);
        /* Define la posición final de la animación */
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.25;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes vline {
    0% {
        top: 0px;
    }

    100% {
        top: 100%;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1.001);
        opacity: .14;
    }

    8% {
        transform: scale(1);
        opacity: .13;
    }

    15% {
        transform: scale(1.004);
        opacity: .14;
    }

    30% {
        transform: scale(1.002);
        opacity: .11;
    }

    100% {
        transform: scale(1);
        opacity: .14;
    }
}

@keyframes glitch {
    0% {
        transform: scale(1, 1.002);
    }

    50% {
        transform: scale(1, 1.0001);
    }

    100% {
        transform: scale(1.001, 1);
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #fff;
    }
}

@keyframes typing {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Font Families */
@font-face {
    font-family: 'KGSketch';
    src: url(./assets/fonts/KGSecondChancesSketch.ttf);
}

@font-face {
    font-family: 'KGSolid';
    src: url(./assets/fonts/KGSecondChancesSolid.ttf);
}

@font-face {
    font-family: 'Greek';
    src: url(./assets/fonts/Greek.ttf);
}

@font-face {
    font-family: 'Cubic';
    src: url(./assets/fonts/cubic.ttf);
}

/* Variables */
:root {
    --primary-color: #f7730f !important;
    --secondary-color: #e95302 !important;
    --dark-color: #121212;
    --dark-color2: #1F2937;
}

/* Index Page */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background-color: transparent !important;
}

::-webkit-scrollbar-track {
    background-color: rgba(179, 179, 179, 0.692);
    border-radius: 1rem;
    margin: 0.4rem;
    margin-top: 0.4rem;
    border-left: 1px solid rgba(211, 211, 211, 0);
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: linear-gradient(30deg, #F69F8A, #335B7F);
    box-shadow: inset 0 0 6px #A66684,
}

html {
    overflow-x: hidden;
    box-sizing: content-box;
    font-family: 'Poppins', sans-serif;
    background-color: black !important;
    scroll-behavior: smooth;
}

body {
    padding: 0 !important;
    margin: 0 !important;
}

/* LOADER */
app-loader {
    background-color: #000;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
}

.loader-head {
    position: relative;
    top: -30%;
}

.loader {
    display: flex;
    position: relative;
    top: 0;
}

.loader-circle {
    width: 20%;
    height: 20%;
}

.connect-btn:hover {
    background-color: transparent !important;
    background: transparent !important;
}

.vertical-centered-box {
    position: absolute;
    display: block;
    top: 66vh;
    width: 100%;
    height: auto;
    text-align: center;
}

.vertical-centered-box:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.content-box {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-size: 0;
}

.super-z {
    z-index: 9999 !important;
    position: relative !important;
}

.nav {
    display: block;
    align-items: center;
    height: 200px;
    position: relative;
    margin-top: 10%;
    background-color: transparent;
    text-align: center;
    padding: 0;
}

.text {
    margin: 0 auto;
}

a {
    color: #fff;
    opacity: 1 !important;
    position: relative;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

a span {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    background: #000;
    border-left: .5em solid;
    box-sizing: border-box;
    -webkit-animation: typing 3s steps(13, end), blink-caret 1s step-end infinite;
    animation: typing 3s steps(13, end), blink-caret 1s step-end infinite;
}

#wave {
    height: 10px !important;
    max-height: 10px !important;
    color: yellow !important;
}

.wave {
    height: 10px !important;
    max-height: 10px !important;
    color: yellow !important;
}

/* Home page */
.animacion {
    animation: aparecer 1s forwards;
    opacity: 0;
}

.animacion2 {
    animation: aparecer2 2s forwards;
    opacity: 0;
}

.home {
    font-weight: 500;
}

#myVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.canvas-container canvas {
    object-fit: 16/9;
    background-color: transparent !important;
}

.chat {
    z-index: 1000;
    width: 100%;
    height: 95%;
}

#display {
    min-height: 100vh;
}

app-sleeper-screen {
    position: absolute;
    TOP: 0;
    left: 0;
    background-color: transparent !important;
    z-index: 9000 !important;
}